name: "{{ inventory_hostname }}"
data-dir: "{{ etcd_data_dir }}"
listen-client-urls: https://{{ hosts | selectattr('fqdn', 'equalto', inventory_hostname) | map(attribute='ip') | first }}:2379
advertise-client-urls: https://{{ hosts | selectattr('fqdn', 'equalto', inventory_hostname) | map(attribute='ip') | first }}:2379
listen-peer-urls: https://{{ hosts | selectattr('fqdn', 'equalto', inventory_hostname) | map(attribute='ip') | first }}:2380
initial-advertise-peer-urls: https://{{ hosts | selectattr('fqdn', 'equalto', inventory_hostname) | map(attribute='ip') | first }}:2380
initial-cluster: "{{ etcd_initial_cluster }}"
initial-cluster-state: new
client-transport-security:
  cert-file: "{{ etcd_cert }}"
  key-file: "{{ etcd_key }}"
  client-cert-auth: true
  trusted-ca-file: "{{ etcd_ca_cert }}"
peer-transport-security:
  cert-file: "{{ etcd_cert }}"
  key-file: "{{ etcd_key }}"
  client-cert-auth: true
  trusted-ca-file: "{{ etcd_ca_cert }}"
